#clear__btn{
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset;
    border-radius: 5px;
    color:#555;
    display: block;
    width:120px;
    font-size: 14px;
    text-align: center;
    height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    text-decoration: none;
}

#clear__btn:focus{
    background-color: #fff;
}

#clear__btn:hover, #clear__btn:focus{
    border-color: rgba(82,168,236,0.8);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset;
    outline: 0 none;
}